<%- include('partials/header') -%>
<main>
  <div class="home padding-1">
    <h2 class="fs-40 text-center padding-1 text-cap purple fw-600">welcome to expensify</h2>
    <div class="text-center margin-2">
      <h3 class="fs-25 margin-2 blue">About Expensify</h3><br>
    <ul class="">
      <li class="fs-20">using expensify you can -</li>
      <li class="fs-20">- track your expenses</li>
      <li class="fs-20">- calculate your savings</li>
      <li class="fs-20">- calculate your total income</li>
    </ul>
    <a href="/users/login" class="fs-20 btn-small bg-green pink margin-2">login to continue</a>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>