<%- include('partials/header') -%>
<main>
  <div class="home padding-1">
    <h1 class="fs-30 purple text-center text-cap">onboarding page</h1>
    <div class="flex padding-0-3">
        <form action="/income" method="post" class=" width-400 margin-3 margin-2">
            <h2 class="text-cap fs-30 margin-2">Enter income details</h2>
            <fieldset>
                <input class="form-control" type="text" name="source" id="" placeholder="enter source">
                <input class="form-control" type="number" name="amount" id="" placeholder="enter amount">
                <input class="form-control" type="date" name="date" id="" placeholder="enter date">
                <input class="form-control" type="submit" value="Add Income">
            </fieldset>
        </form>
        <form action="/expense" method="post" class=" width-400 margin-3 margin-2">
            <h2 class="text-cap fs-30 margin-2">Enter expense details</h2>
            <fieldset>
                <input class="form-control" type="text" name="category" id="" placeholder="enter expense category">
                <input class="form-control" type="number" name="amount" id="" placeholder="enter amount">
                <input class="form-control" type="date" name="date" id="" placeholder="enter date">
                <input class="form-control" type="submit" value="Add Expense">
            </fieldset>
        </form>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>